<input type="text" [(ngModel)]="obj.name" /><button (click)="changeObject()">Change</button>
<br />
Pure:{{obj|GetNamePure}} <br />
ImPure:{{obj|GetNameImpure}}
<br />
<button (click)="resend()">Resend</button>
<h1>-- {{ title$ | async }} --</h1>


<h2>My Heroes</h2>


<input type="text" id="searchKey" [(ngModel)]="searchKey" />

<ul class="heroes">
  <li *ngFor="let hero of heroes | search:searchKey ;let i = index" (click)="onSelect(hero)"  
      [ngClass]="hero.gender===GENDER.Female ? 'Female':hero.gender===GENDER.Male ? 'Male':''"  
      [class.selected]="hero === selectedHero">
    <span class="badge">{{(i+1) +' - '+hero.id}}</span>
    <span [ngSwitch]="hero.gender">
      <span *ngSwitchCase="GENDER.Female">Mrs. </span>
      <span *ngSwitchCase="GENDER.Male">Mr. </span>
      <span *ngSwitchDefault="">Sir. </span>
    </span>
    {{hero.name}} 
  </li>
</ul>
{{resetAsIf}}
<hero-detail [hero]="selectedHero" ></hero-detail>


<br />
<==============================================================>
<br />
<h2>Heroes from JSON File</h2>

<div *ngFor="let hero of (fileName | fetch) ">
    {{hero.name}}
</div>

<p>
    Heroes as JSON:
    {{'heroes.json' | fetch | json}}
</p>
<input type="text"  [(ngModel)]="fileName" name="name" value="" />