<h1>{{title}}</h1>
<h2>My Heroes</h2>

<input type="text" id="searchKey" [(ngModel)]="searchKey" />

<ul class="heroes">
  <li *ngFor="let hero of heroes | search:searchKey ;let i = index" (click)="onSelect(hero)"  
      [ngClass]="hero.gender===GENDER.Female ? 'Female':hero.gender===GENDER.Male ? 'Male':''"  
      [class.selected]="hero === selectedHero">
    <span class="badge">{{(i+1) +' - '+hero.id}}</span>
    <span [ngSwitch]="hero.gender">
      <span *ngSwitchCase="GENDER.Female">Mrs. </span>
      <span *ngSwitchCase="GENDER.Male">Mr. </span>
      <span *ngSwitchDefault="">Sir. </span>
    </span>
    {{hero.name}} 
  </li>
</ul>
{{resetAsIf}}
<hero-detail [hero]="selectedHero" ></hero-detail>
